* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 200px;
}

.header img {
}

/* image 1 */
.image {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin: 0px;
  background: url(image.png);
  mix-blend-mode: exclusion;
}

.header p {
  font-size: 16px;
}

.gift-title h1 {
  display: flex;
  font-size: 2.8em;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 10% auto;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: #fff;
  padding: 10px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}

label {
  font-size: 18px;
  margin-bottom: 20px;
  color: gray;
  text-align: center;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  width: 90%;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 5px;
  border: 1px solid rgb(27, 27, 27);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: white;
  box-sizing: border-box;
  border: none;
  width: 90%;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}

button:hover {
  background-color: rgb(114, 107, 107);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  margin-top: 10%;
  font-size: 14px;
  text-align: center;
  border-top: 1px solid gray;
}

/* Responsive design */
@media (min-width: 600px) {
  form {
    flex-direction: column;
  }

  .form-container label {
    display: inline-block;
    margin: 10px;
  }

  input {
    margin-bottom: 0;
    width: 90%;
  }
  button {
    width: 25%;
  }
}
